/*
auther : anas alpure
maincolors:
1:#08526d
2:#aedcdf 

*/


*{
  box-sizing:border-box;
  font-family: 'Amiri', serif;
}

p.emphasis{
  font-family:Consolas;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing:2px;
}

.upper-bar{
    background-color: #08526d;
    padding:3px;
    color: #fff;
    
}


.alignLR{
  text-align:left;
}
.upper-bar .quote{
    display: inline-block;
    margin-left: 10px;
    border: 1px solid #ec1c23;
    padding: 2px;
}

.social-icon {
  list-style: none;
  overflow: hidden;
  flex-wrap: nowrap;
}
 ul.social-icon{
  margin-bottom:0px;
}
.social-icon li{
  float: left;
  width: 50px;
  text-align: center;
  margin-right: 5px;
  color: #fff;
  
}


.social-icon li:hover{
  color: rgb(174, 230, 22);
}


/*navbar*/

.navbar{
  padding:0px;
  background: rgb(30, 30, 30); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(89,89,89) 12%, rgb(102,102,102) 25%, rgb(71,71,71) 39%, rgb(30, 30,30 ) 50%, rgb(17,17,17) 60% , rgb(30, 30,30 ) 100%); 
  background: -webkit-linear-gradient(top, rgb(89,89,89) 12%, rgb(102,102,102) 25%, rgb(71,71,71) 39%, rgb(30, 30,30 ) 50%, rgb(17,17,17) 60%, rgb(30, 30, 30) 100%); 
  background: linear-gradient(top, rgb(89,89,89) 12%, rgb(102,102,102) 25%, rgb(71,71,71) 39%, rgb(30, 30,30 ) 50%, rgb(17,17,17) 60%,  rgb(30, 30, 30) 100%); 

  box-shadow: 0px 100px 41.07px 69.93px rgba(66, 66, 66, 0.5);
  font-family: "Lato";
  color: rgb(146, 159, 165);
  text-transform: uppercase;
}


.navbar-brand {
  color: #69c3ff !important;
  text-shadow: #fff 1px -2px 7px;
  direction: ltr;
}

.navbar-brand img{
    width: 47%;
    height: auto;
    
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);

}
.navbar-dark .navbar-nav .active > .nav-link{
    color: rgb(17, 206, 54)
}

.searchform {
    display: inline-flex;
    flex-wrap: nowrap;
    width: 47%;
    margin-right: auto !important;
   
  }

 .searchform input{
    width:50%;
    margin-right: auto;
     /*
    transition-property: width;
    transition-duration: 5s;
    transition-timing-function: linear;
    transition-delay: 0.2s;
    */
    border: 1px solid #28a745;
    background: #99ef8c33;
    transition: width 2s ease 0s;
    -webkit-transition: width 2s ease 0s;
 }

.searchform input:hover{
    width:70%;
    
}
/* end navbar*/


/*  banner*/
.banner{

  position: relative;;
}
.banner .cover{
  position:absolute;
}

.resume {
  color:#fff;
  font-size:5em;
  left: 2px;
  z-index:2;
}

.resume  span{
  padding:5px;
  display: inline-block;
  background: rgba(214, 42, 42, 0.801);
  -webkit-transform: skewX(-30deg); /* Safari */
  transform: skewX(-30deg);
  
}


/* end banner*/



/* banner slider*/


.card-text {
  border-radius: 4px;
  background-color: rgba(40, 167, 69, 0.51);
  color: #fff;
  text-shadow: #aefbf5 2px 1px 2px;
  border: 1px solid #28a745;
  z-index:5;

}
/* end  banner slider*/



/*typing-slider*/
  
  @keyframes cursor {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }
  @keyframes typing {
    from {
      width: 100%;
    }
    90%, to {
      width: 0;
    }
  }
  @keyframes slide {
    33.33333% {
      font-size: 3rem;
      letter-spacing: 3px;
    }
    to {
      font-size: 0;
      letter-spacing: 0;
    }
  }


  .typing-slider {
    font-family: Consolas, monospace;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: #fff;
  }
  
  .typing-slider p {
    position: relative;
    display: inline;
    font-size: 0;
    text-transform: uppercase;
    letter-spacing: 0;
    animation: slide 15s step-start infinite;
  }
  .typing-slider p span{
    color: rgb(17, 206, 54) ;
  }
  
  .typing-slider p::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border-left: 3px solid rgb(255, 255, 255);
    background-color: #000;
    animation: typing 5s infinite, cursor 1s infinite;
  }
  
  .typing-slider p:nth-child(1) {
    animation-delay: 0s;
  }
  .typing-slider p:nth-child(1)::after {
    animation-delay: 0s;
    animation-timing-function: steps(16), step-end;
  }
  
  .typing-slider p:nth-child(2) {
    animation-delay: 5s;
  }
  .typing-slider p:nth-child(2)::after {
    animation-delay: 5s;
    animation-timing-function: steps(23), step-end;
  }
  
  .typing-slider p:nth-child(3) {
    animation-delay: 10s;
  }
  .typing-slider p:nth-child(3)::after {
    animation-delay: 10s;
    animation-timing-function: steps(12), step-end;
  }
  
/*end typing-slider*/



/*animation*/

@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

.text-typing { 

    border-left: .3em solid black;
    -webkit-animation: 
               blink-caret .5s step-end infinite alternate;

}
/*end animation*/




/*service*/


.bg-site2{
 background-color: #eef3f6;
}

.service-info .icon i {
  width: 2em;
  font-size: 3em;
  border: 1px solid #e94e54;
  border-radius: 50% !important;
  background: #ed1d24;
  padding: 16px;
  box-shadow: 3px 4px 4px #5f5858;
  text-shadow: 1px 104px 4px #b4bbc0,
               2px 4px 7px #eee;
  

}


.service-info .icon i:hover{
  background:#eeb1b3;
  box-shadow: 4px 5px 3px #5f5858;
  text-shadow:-3px 3px 11px #eee;
}


.service-info .icon-info h4{
    color: #08526d;
    margin: 3px;
}
/*end service*/


/*end Overview*/
.overview{
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  box-shadow: -1px -4px 6px #eee;
  background-color: #eef3f6;
  text-align: center;
}

.overview h2{
  color: #69c3ff;
  text-shadow: -2px 2px 4px #69c3ff;
}

.emphasis button{
  padding: 3px;
  border: 1px solid #909090;
  box-shadow: -4px -2px 8px #909090;
}
/*end Overview*/

/*protfolio*/
.proto img{
  width: 100%;
  max-width: 100%;
  border-radius: 500px;
  padding: 4px;
  border: 1px dashed #f66767;
  margin-top: 11px;
  box-shadow: inset 6px 3px #b03c3c,inset 6px -41px #f66767;
}


.proto img:hover{
  padding: 5px;
  border: 1px dashed #b03c3c;
  box-shadow: inset 6px 3px #f66767,inset 6px -41px #b03c3c;
}
/*end protfolio*/

/*posts*/
.posts h2{
  font-weight: bold;
}

.posts p{
  color: #606060;
  text-shadow: 1px 1px 1px #4b4b4b;
}

.post{
  margin-top:17px;
  padding-right: 0px;
  padding-left: 15px;
}

.post:hover{
 box-shadow: 1px 1px 2px rgb(48, 151, 247);
}
.post img {
      border-radius: 3px;
      border: 2px solid #fff;
      width: 100%;
  }
  
  .post h3{
    padding-right: 8px; 
    color: #42b1fb; 
    text-transform: capitalize;
  }

  .post p{
    padding-left: 3px;
    padding-right: 8px;
    text-align: justify;
    color: #848282;
    margin-bottom: 1px;;
  }

  .post a{
    padding-right:8px;
  }

/*end posts*/

/*carousel*/

.owl-carousel .item h1{
  
  background: #ffffff4d;
  color: #0d102f;
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: "Console";
  font-weight: bold;
  box-shadow: 0px 2px 5px #eee9;
  margin-top: 25px;
}

.owl-carousel .item p{
  display: none;
  background: #ffffff4d;
  color: #0d102f;
  position: absolute;
  width: 100%;
  text-align: center;
  font-family: "Console";
  font-weight: bold;
  box-shadow: 0px 2px 5px #eee9;
  bottom: 0px;
  border-radius: 4px;
  padding: 3px;
}

.owl-carousel .item:hover >p{
  display:inline;
}

.owl-nav .owl-prev  {
  font-size: 40px;
  margin: 2px;
  padding: 4px 7px;
  background: #FFF0;
  color: #0d102f;
  display: inline-block;
  cursor: pointer;
  border-radius: 50px;
  position: absolute;
  top: 3%;
  height: 90%;
  display: flex;
  align-items: center;
  left: 2px;
}

.owl-nav .owl-next {
  font-size: 40px;
  margin: 2px;
  padding: 4px 7px;
  background: #FFF0;
  color: #0d102f;
  display: inline-block;
  cursor: pointer;
  border-radius: 50px;
  position: absolute;
  top: 3%;
  height: 90%;

  display: flex;
  align-items: center;
}

/*end carousel*/


/* contact*/
.contact{
  margin: 0px
}
.contact div{
  width:100%;
}
.contact .one{
  padding-right: 0px;
  padding-left: 0px;
}

.contact .one img.w-100{
  position: relative;
  bottom:0px;
  transform: rotateY(180deg);

}

.contact .one .info{
  text-align: center
}
.contact .one .info h2{
  color: rgb(0, 132, 255);
}
.contact .one .info h3{
  color: rgb(255, 0, 128);
}

.contact .one .info p{
  text-align: right;
  font-family:Lato,Consolas;
  font-size:22px;
  color: #5f5858
}

.contact .two {
  background: #08526d;
  box-shadow: inset 2px -1px 3px #eef3f5;
  color: #fff;
  padding:22px;
}

.contact .two p{
  text-align: justify;
  
}

.note{
  text-align: center;
  padding-top: 27px;
  margin: 0px
}
.note p{
  color: #ec1c23;
  font-size: 24px;
}

.note p button{
  background: #08526d;
  padding-left: 27px;
  padding-right: 27px;

}

.linear{
  position: relative;
  margin-bottom: -2px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
   -moz-transform: rotate(180deg);
   -o-transform: rotate(180deg);
}

/*end contact*/







/* footer*/
footer{
  background-color: #000;
  color: #eef3f6;
}
footer .social-icon{
  justify-content: center;
}
.footer-para h3{
  color: #0ff;
}

.Copyright{
  color:#e0deff;
}

/*end footer*/




/* response to width*/

@media (max-width: 991px){
  .navbar-brand{
    position: absolute;
    left: -60px;
    top: 1px;

  }  
  
  .resume {
    font-size:3em;
    padding-right:6px;
  }
  
  .navbar-brand img {
    width: 30%;
    height: auto;
   }
   
   .contact .one img.w-100{
     display:none;
   }

   .alignLR{
    text-align:center;
  }


  
  }








