/*
auther : anas alpure
maincolors:
1:#08526d
2:#eclc23
*/




.upper-bar{
    background-color: #08526d;
    padding:3px;
    color: #fff;
}

.upper-bar .quote{
    display: inline-block;
    margin-left: 10px;
    border: 1px solid #ec1c23;
    padding: 2px;
}

.upper-bar i{
padding: 4px;
color: #7cda17;
}



/*navbar*/

.navbar{

  ackground: rgb(30, 30, 30); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(89,89,89) 12%, rgb(102,102,102) 25%, rgb(71,71,71) 39%, rgb(44,44,44) 50%, rgb(17,17,17) 60%, rgb(18, 18, 18), rgb(30, 30, 30) 100%); 
  background: -webkit-linear-gradient(top, rgb(89,89,89) 12%, rgb(102,102,102) 25%, rgb(71,71,71) 39%, rgb(44,44,44) 50%, rgb(17,17,17) 60%, rgb(18, 18, 18), rgb(30, 30, 30) 100%); 
  background: linear-gradient(top, rgb(89,89,89) 12%, rgb(102,102,102) 25%, rgb(71,71,71) 39%, rgb(44,44,44) 50%, rgb(17,17,17) 60%, rgb(18, 18, 18), rgb(30, 30, 30) 100%); 

  box-shadow: 0px 100px 41.07px 69.93px rgba(66, 66, 66, 0.5);
  font-family: "Lato";
  color: rgb(146, 159, 165);
  text-transform: uppercase;
}


.navbar-brand {
  color: #aedcdf  !important;;
}
.navbar-brand img{
    width: 47%;
    height: auto;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);

}
.navbar-dark .navbar-nav .active > .nav-link{
    color: rgb(9, 230, 237);
}

.searchform {
    display: inline-flex;
    flex-wrap: nowrap;
    width:100%;
(top, rgb(0,0,0) 0%, rgb(89,89,89) 12%, rgb(102,102,102) 25%, rgb(71,71,71) 39%, rgb(44,44,44) 50%, rgb(17,17,17) 60%, rgb(18, 18, 18), rgb(30, 30, 30) 100%); 
 }
 .searchform input{
    width:50%;
    margin-left: auto;
     /*
    transition-property: width;
    transition-duration: 5s;
    transition-timing-function: linear;
    transition-delay: 0.2s;
    */
    transition: width 2s ease 0s;
    -webkit-transition: width 2s ease 0s;
 }

.searchform input:hover{
    width:70%;
}



/* end navbar*/

/*  banner*/

.banner{
    background-image:url('../img/banner.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

/* end banner*/

.carousel{
  
    width: 100%;
 
}




.carousel-caption{
  position: relative;
  left: 0;
}

